In [5]:
import numpy as np

In [6]:
#first of we use lists example
a = [1,2,3,4,5]
b = [6,7,8,9,0]

In [3]:
list = list()

In [4]:
for i in range(len(a)):
  list.append(a[i]*b[i])
print(list)

[6, 14, 24, 36, 0]

In [8]:
#if we want use numpy
a=np.array([1,2,3,4,5])
b=np.array([6,7,8,9,0])
a*b #we do not need a for loop

array([ 6, 14, 24, 36,  0])